button{
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #4D9078;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s ease;
}

button:hover{
  background: #5FAD56;
}
